@font-face {
    font-family: 'LuxuryFont';
    src: url('./Higuen Serif.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
.title2 h1{
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: 'LuxuryFont';
    font-size: 50px;
}
.whole2{
    background-color: #343A40 ;
    color: #D2AB67 ;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}
.txt2 ul {
    list-style-type: disc;
    padding-left: 20px; 
    line-height: 3; 
    text-align: left;
    font-family: 'LuxuryFont';
  }
.txt2 li{
    font-size: 20px;
    font-family: 'LuxuryFont';
    font-size: 20px;
}
.approachcontainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Adjust the height as needed */
    overflow: hidden;
    text-align: center;
}

.subheader2, .sub22 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'LuxuryFont';
}

.two2{
    margin-top: 80px;
}
.one2, .two2 {
    flex: 1;
}
.two2, .one2{
    text-align: center;
    flex: 1;
}
@media screen and (max-width: 767px) {
    .title2 h1 {
        font-size: 36px; /* Adjust the font size for mobile */
    }

    .whole2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .txt2 p {
        font-size: 18px; /* Adjust the font size for mobile */
    }

    .subheader2, .sub22 {
        font-size: 20px; /* Adjust the font size for mobile */
    }
}
@media screen and (max-width: 575px) {
    .title2 h1 {
        font-size: 28px; /* Adjust the font size for mobile */
    }

    .whole2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .txt2 li {
        font-size: 16px; /* Adjust the font size for mobile */
    }

    .subheader2, .sub22 {
        font-size: 20px; /* Adjust the font size for mobile */
    }
    
}