.title2 h1 {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: 'LuxuryFont';
    font-size: 50px;
  }
  
  .whole2 {
    background-color: #343A40;
    color: #D2AB67;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 5%;
 
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title3 {
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'LuxuryFont';
    font-size: 40px;
  }
  
  .carocont1,.carocont2 {
    height: auto;
  }
  .carocont1 {
    height: 100%;
    padding-bottom: 5%;
    font-size: 30px;
    border: 1px solid #D2AB67; 
    border-radius: 10px;
  }
  .carocont2 {
        height: 100%;
        padding-bottom: 5%;
        font-size: 30px;
        border: 1px solid #D2AB67; 
        border-radius: 10px;
    }
  
  .subheader2, .sub22 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* New CSS rule to fix carousel overflow */
  .carouselFix {
    white-space: nowrap; /* This prevents text wrapping within the carousel */
    overflow-x: scroll;  /* Enables horizontal scrolling for the carousel content */
    scroll-snap-type: x mandatory; /* Enables snapping to carousel items on scroll */
    /* Adjust these properties as needed for responsiveness and styling */
    width: 100%; /* Set the width explicitly */
    margin: 0 auto; /* Center the carousel horizontally */
  }
  
  @media screen and (max-width: 767px) {
    .title2 h1 {
      font-size: 2em;
    }
    .whole2 {
       padding: 0;
       height: 95vh;
    }
    .carocont1{
        height: 100%;
        padding-bottom: 10%;
        font-size: 20px;
        margin-bottom: 5%;
        margin-left: 2%;
        margin-right: 2%;
    }
    .carocont1 h2{
        padding: 0;
        font-size: 30px;
        
    }
    .carocont2 h2{
        padding: 0;
        font-size: 30px;
    }
    .carouselFix{
        height: 100%;
    }
    .carocont2{
        height: 100%;
        padding-bottom: 10%;
        font-size: 20px;
        margin-left: 2%;
        margin-right: 2%;
        
    }
  }
  