@font-face {
  font-family: 'LuxuryFont';
  src: url('./fonts/Higuen Serif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  object-fit: none;
  height: 200px; /* Adjust this height as needed */
  width: 100%;
  margin-bottom: 30px;
}

.head {
    color: #d2ab67; /* Golden font color */
    text-align: center;
    font-size: 3em; /* Adjust the font size as needed */
    margin-bottom: 15px; 
    font-family: "LuxuryFont", sans-serif; 
    margin-top: -11%;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110%;
  height: 110%;
  border-radius: 20%;
  background: transparent;
}

.carousel-card > img {
  height: 200px;
  width: 200px; /* Use 100% width for the image */
  object-fit: contain;
}

@media (max-width: 600px) {
  .carousel-card > img {
    width: 150%; /* Adjust the width for smaller screens */
    min-width: 150px /* Set a maximum width to avoid images becoming too small */
  }
}
@media (max-width: 425px) {
  .carousel-card > img {
    width: 150%; /* Adjust the width for smaller screens */
    min-width: 150px; /* Set a maximum width to avoid images becoming too small */
  }
  .head {
    font-size: 2em; /* Adjust the font size as needed */
    margin-top: -15px; /* Adjust margin-top to move the component up */
    margin-bottom: 0px;
  }
  .Outer {
    margin-top: -20px; /* Adjust margin-top to minimize white space */
  }
  .carousel-track{
    margin-top: -20px; /* Adjust margin-top to minimize white space */
    animation: slide 5s linear infinite;
  }
  .carousel-track {
    margin-top: -20px; /* Adjust margin-top to minimize white space */
    animation-duration: 10s; /* Adjust the duration for faster movement */
  }
}

@media (max-width: 768px) {
  .carousel-card > img {
    width: 150%; /* Adjust the width for smaller screens */
    min-width: 150px /* Set a maximum width to avoid images becoming too small */
  }
  .head{
    font-size: 2em; /* Adjust the font size as needed */
    margin-top: -20%;
  }
}

.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 15px; /* Adjust this gap as needed */
  width: 280%;
  height: 100%;
  animation: slide 20s linear infinite;
}

@media (max-width: 425px) {
  .carousel-track {
    animation-duration: 10s; /* Adjust the duration for faster movement */
  }
}

@media (max-width: 768px) {
  .carousel-track {
    animation-duration: 10s; /* Adjust the duration for faster movement */
  }
}
@keyframes slide {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}