  .special{
    color: #2F4858;
    font-weight: bold;
    font-size: 1.1em;
  }
  .head {
      color: #d2ab67; /* Golden font color */
      text-align: center;
      font-size: 3em; /* Adjust the font size as needed */
      margin-bottom: 45px; 
      font-family: 'Times New Roman', Times, serif; 
  }
  .carouselitem{
    font-size: 2em;
    color: #d2ab67; /* Golden font color */
  }

  @media (max-width: 425px) {
    .carouseltrack h1{
        font-size: 1.5em;
    }
    .head {
      font-size: 2em; /* Adjust the font size as needed */
    }
    .Outer{
        width: 100%;
        margin-top: 100px;
        height: 200px;
    }
    .carouseltrack{
      animation: slide 5s linear infinite;
    }
    .carouseltrack {
      animation-duration: 10s; /* Adjust the duration for faster movement */
    }
    .carouselitem{
        width: 110%;
    }
  }
  
  @media (max-width: 768px) {
    .head{
      font-size: 2em; /* Adjust the font size as needed */
      margin-top: 1%;
    }
    .carouselitem{
      font-size: 1.5em;
      color: #d2ab67; /* Golden font color */
    }
  }
  
  @keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }