@font-face {
  font-family: 'LuxuryFont';
  src: url('./fonts/Higuen Serif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.topnav {
  position: absolute;
  z-index: 200; 
  overflow: visible;
  background-color: transparent;
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 20px;
  height: 25%;
  font-family: 'LuxuryFont', sans-serif;
}

@media screen and (min-height: 500px) {
  .topnav{
    height:14%;
  }
  .chlogo{
    height: 100%;
    padding-bottom: 10%;
  }
  
}

/* @media screen and (min-height: 700px) {
  .topnav{
    height:17%
  }
  .chlogo{
    height: 80%;
    padding-bottom: 5%;
  }
  .burgerIcon{
    display: none;
  }
} */



#abhinav{
font-size: 22px;
z-index: 200;
}
.topnav a {
float: right;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 22px;
z-index: 200;
font-family: 'LuxuryFont', sans-serif;
}

.topnav .icon {
z-index: 200;
}

.dropdown {
float: left;
overflow: visible;
font-size: 22px;
z-index: 200;
font-family: 'LuxuryFont', sans-serif;
}
.dropdownn {
float: left;
overflow: visible;
z-index: 200;
position: relative;
font-family: 'LuxuryFont', sans-serif;
}

.whole {
display: flex;
justify-content: flex-end; 
align-items: center; 
flex-grow: 1; 
z-index: 200;
}

.logo {
max-width: 60%;
max-height: 60%;
float: left; 
margin-right: auto; 
}


.dropdown .dropbtn {
font-size: 18px;    
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
z-index: 200;
}
.dropdownn .dropbtnn {
font-size: 18px;    
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
z-index: 200;
position: relative;
}
.dropdowncontent {
display: none;
position: absolute;
background-color: #555;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 201; /* Adjust this value as needed */
color: white;
overflow: visible;
}
#whole{
margin-top: 8px;
margin-right: 5px;
z-index: 200;
display: flex;
justify-content: space-between;
}
.dropdowncontentn {
display: none;
position: relative;
overflow: visible;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 201; /* Adjust this value as needed */
}

.dropdowncontent a {
float: none;
color: white;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
z-index: 200;
}

#id:hover{
  background-color: #555;
  color: white;
  z-index: 200;
}

.topnav a:hover, .dropdown:hover .dropbtn {
background-color: #555;
color: white;
z-index: 200;
}

.dropdowncontent a:hover {
background-color: #ddd;
color: black;
z-index: 200;
}

.dropdown:hover .dropdowncontent {
display: block;
z-index: 200;
}

.dropdown-contentn a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
z-index: 200;
}

.topnav a:hover, .dropdownn:hover .dropbtnn {
background-color: #555;
color: white;
z-index: 200;
}
.topnav a:first-child:hover{
  background-color: #555;
  padding-bottom: 7%;
}

.dropdown-contentn a:hover {
background-color: #ddd;
color: black;
z-index: 200;
}

.dropdownn:hover .dropdown-contentn {
display: block;
z-index: 200;
}

@media screen and (max-width: 700px) {
.topnav a:not(:first-child), .dropdown .dropbtn {
  display: none;
  background-color: #282a2c;
}
.topnav a:not(:first-child), .dropdownn .dropbtnn {
  display: none;
}
.topnav a.icon {
  display: flex;
  justify-content: flex-end;
}
}


@media screen and (max-width:700px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}


#whole{
  display: flex;
  flex-direction: column;
  justify-content: right;
  
}

.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
}
.topnav.responsive .dropdown {
  float: none;
  
}

/* .dropdown{
  display: block;
} */
.topnav.responsive .dropdown-content {
  position: relative;

}
.topnav.responsive .dropdown .dropbtn {
  /* display: block; */
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  
}
.topnav.responsive .dropdownn {float: none;}
.topnav.responsive .dropdown-contentn {position: relative;}
.topnav.responsive .dropdownn .dropbtnn {
  display: block;
  width: 100%;
  text-align: left;
}
#logo{
  max-width: 40px;
  max-height: 38px;
  float: left;
  height: 120%;
}
.chlogo{
  height: 20px;
  padding-bottom: 5%;
  
}
}

#whole{
padding-top: 2%;
z-index: 200;
}
#logo{
max-width: 120px;
max-height: 120px;
float: left; 
}
.burgerIcon{
display: none;
background-color: black;
border-radius: 6px;


}

@media screen and (max-width: 768px) {
.topnav {
  flex-direction: row; /* Stack items vertically on smaller screens */;
  padding: 0;
  background-color: #282a2c;
  height: 13%;
}
.chlogo{
  height: 40%;
  padding-bottom: 5%;
}
#whole{
  padding-top: 7%;
}
.burgerIcon {
  display: block; /* Show the burger icon on smaller screens */
  color: white;
  font-size: 25px;
  cursor: pointer;
  padding: 0px 10px 10px 10px;
  margin-right: 10px;
  max-width: 40px;
  max-height: 36px;
  margin-left: auto;
}
/* .burgerIcon:hover{
  background-color: #282a2c;
} */
.menuItems {
  display: none; /* Hide the menu items by default on smaller screens */
}

/* Show the menu items when the responsive state is active */
.responsive .menuItems {
  display: flex;
  flex-direction: column;
}
.dropdowncontent{
  display: hidden;
  flex-direction: column;
  position: relative;
}

}