.container12 {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: "LuxuryFont", sans-serif;
}
.container12 h1{
  color: #D2AB67;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* width: 100%;
  height: 100vh; */
  transition: transform 0.5s ease;
  /* transform: translateY(100%); */
  padding: 100px;
}

.data, .image {
  /* width: 45%;
  height: 100px; */
  
  opacity: 0; /* Initially hidden */
  border: none;
  
}

.image {
  width: 50%;
  height: 50%;
  animation: slideInRight 2s forwards; /* Slide in from right */
}

/* .data {
  color: #D2AB67;

  animation: slideInLeft 5s forwards; /* Slide in from left
  text-align: center;
  font-size: 32px;
  
  
} */
.data, .title {
  color: #D2AB67;
  animation: slideInLeft 2s forwards; /* Slide in from left */
  font-size: 36px;
  
  align-items: center; /* Vertical alignment */
  justify-content: center; /* Horizontal alignment */
  text-align: center;
  font-weight: normal;
}

.info{
  color: #D2AB67;
  animation: slideInLeft 2s forwards; /* Slide in from left */
  font-size: 22px;
  font-weight: normal;
  margin-top: 5px;
}

@keyframes slideInLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

.animated {
  transform: translateY(0);
}


@media only screen and (max-width: 768px) {
  .content {
      flex-direction: column; /* Stack content vertically */
      border: 2px solid #D2AB67;
      margin-left: 10px;
      margin-right: 10px;
      border-radius: 10px;
      margin-bottom: 10px;
  }
  .data, .image {
      width: 90%; /* Take full width */
      margin-bottom: 0px; /* Add space between elements */
  }
  .image {
      width: 150%; /* Adjust image width */
      height: auto; /* Maintain aspect ratio */
  }
  .data, .title {
      font-size: 24px; /* Decrease font size */
  }
  .info {
      font-size: 18px; /* Decrease font size */
  }
}